// Fonts
@import url(http://fonts.googleapis.com/css?family=Quicksand:400,300,700)

// Variables
$neatness: new-breakpoint(max-width 768px)

// Global
*
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  outline: none
  box-sizing: border-box

body
  margin: 0
  padding: 0
  font:
    family: 'Quicksand', sans-serif
    size: rem(16)
    weight: 400
  line-height: rem(40)
