body.work
  background: white
  line-height: rem(32)
  color: darken(whitesmoke, 32%)
    weight: 400
    size: rem(18)
  padding-top: rem(120)
  +media($neatness)
    padding-top: rem(30)
  small
    text-transform: uppercase
    color: darken(whitesmoke, 32%)
    font:
      weight: 400
      size: rem(18)
    a
      text-decoration: none
      color: darken(whitesmoke, 30%)
      +transition(all .3s)
      &:visited
        color: darken(whitesmoke, 30%)
      &:hover
        color: #717171

.thumb
  max-width: rem(650)
  display: block
  margin: rem(60) auto

.tags
  margin: rem(10) 0 0 0
.tag
  display: inline-block
  border-radius: rem(1000)
  padding: 0 rem(15)
  border: rem(1) solid darken(whitesmoke, 20%)
  color: darken(whitesmoke, 35%)
  height: rem(25)
  line-height: rem(22)
  margin: rem(3)
  font:
    size: rem(12)
    weight: 600

section.work
  text-align: center
  article
    margin: 0 auto
    max-width: rem(900)
    +media($neatness)
      padding: 0 rem(10)
  h1
    font:
      family: 'San Francisco'
      size: rem(40)
      weight: 700
    color: #303841
    margin: rem(10) 0 0 0
    line-height: 0
    img
      width: rem(666)
      margin: 0 0 rem(30) 0
      +media($neatness)
        width: rem(200)
  small
    margin: 0 auto rem(120)
    display: block
    +media($neatness)
      width: 100%
      font-size: rem(14)
      margin: 0 auto rem(30)
  h2
    font:
      weight: 700
    margin: 0 0 rem(10) 0
    padding-top: rem(60)
    &:not(:first-child)
      border-top: rem(1) solid darken(whitesmoke, 7%)
    +media($neatness)
      font-size: rem(18)
  p
    max-width: rem(800)
    margin:  0 auto
    +media($neatness)
      font-size: rem(16)
      line-height: rem(26)
  a
    color: #303841
    &:hover
      color: darken(#303841, 10%)
    &:visited
      color: #303841
  ul
    margin: 0
    padding: 0
    list-style: none
    li
      width: calc(100%/2)
      display: inline-block
      vertical-align: top
  img
    width: 100%
    margin: rem(60) auto
    +media($neatness)
      margin: rem(15) auto

.scrollup
  width: rem(40)
  height: rem(40)
  line-height: rem(40)
  position: fixed
  bottom: rem(50)
  right: rem(100)
  display: none
  background: lighten(#717171, 5%)
  border-radius: 50%
  +media($neatness)
    right: rem(10)
    bottom: rem(10)
  i
    color: white

.wicked
  position: relative
  img
    &:nth-of-type(1)
      position: relative
      z-index: 1
    &:nth-of-type(2)
      position: absolute
      top: 0
      left: 0
      -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 86%, 50% 96%, 0 86%, 0 0)
      clip-path: polygon(50% 0%, 100% 0, 100% 86%, 50% 96%, 0 86%, 0 0)
