// SF fonts
// Thin
@font-face
  font-family: 'San Francisco'
  font-weight: 200
  src: url('https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff')
// Regular
@font-face
  font-family: 'San Francisco'
  font-weight: 400
  src: url('https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff')
// Semi Bold
@font-face
  font-family: 'San Francisco'
  font-weight: 600
  src: url('https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff')
// Bold
@font-face
  font-family: 'San Francisco'
  font-weight: 700
  src: url('https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff')

body.work
  background: whitesmoke
  line-height: rem(32)
  color: #717171
  font:
    family: 'San Francisco'
    weight: 400
    size: rem(18)
  padding-top: rem(120)
  +media($neatness)
    padding-top: rem(30)

small
  text-transform: uppercase
  color: darken(whitesmoke, 20%)
  font:
    family: 'San Francisco'
    weight: 700
    size: rem(12)

.thumb
  max-width: rem(800)
  display: block
  margin: rem(60) auto

.tags
  margin: rem(10) 0 0 0
.tag
  display: inline-block
  border-radius: rem(1000)
  padding: 0 rem(15)
  border: rem(1) solid darken(whitesmoke, 20%)
  color: darken(whitesmoke, 35%)
  height: rem(25)
  line-height: rem(22)
  margin: rem(3)
  font:
    size: rem(11)
    weight: 400

section.work
  text-align: center
  article
    margin: 0 auto
    max-width: rem(1200)
    +media($neatness)
      padding: 0 rem(10)
  h1
    font:
      family: 'San Francisco'
      size: rem(40)
      weight: 700
    color: #303841
    margin: rem(10) 0 0 0
    line-height: 0
    img
      width: rem(333)
      margin: 0
      +media($neatness)
        width: rem(200)
  small
    margin: 0 auto rem(120)
    display: block
    +media($neatness)
      width: rem(200)
      font-size: rem(8)
      margin: 0 auto rem(30)
  h2
    font:
      family: 'San Francisco'
      weight: 700
    margin: 0 0 rem(10) 0
    padding-top: rem(60)
    &:not(:first-child)
      border-top: rem(1) solid darken(whitesmoke, 20%)
    +media($neatness)
      font-size: rem(18)
  p
    max-width: rem(800)
    margin:  0 auto
    +media($neatness)
      font-size: rem(16)
      line-height: rem(26)
  a
    color: #303841
    &:hover
      color: darken(#303841, 10%)
    &:visited
      color: #303841
  ul
    margin: 0
    padding: 0
    list-style: none
    li
      width: calc(100%/2)
      display: inline-block
      vertical-align: top
  img
    width: 100%
    margin: rem(60) auto
    +media($neatness)
      margin: rem(15) auto
